VITE_FIREBASE_API_KEY=AIzaSyCpNL6N6lLgEI2LIaSk9DjqBYImLxV8tZs
VITE_FIREBASE_AUTH_DOMAIN=terminate-trap.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=terminate-trap
VITE_FIREBASE_STORAGE_BUCKET=terminate-trap.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=168191923837
VITE_FIREBASE_APP_ID=1:168191923837:web:778e01bd9b48cfc1c44314
